body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray;
}

.active {
  border-bottom: 2px solid black;
}
.navbar-brand {
  font-weight: 700;
  font-family: cursive;
}

/* // footer */
.footer {
  color: white;
  padding: 25px;
  background: #000000;
  background: linear-gradient(to bottom, #434343, #000000);
  background: --webkit-linear-gradient (to bottom, #434343, #000000);
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}
.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* page not found */

.pnf {
  display: flex;
  min-height: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
  margin-bottom: 10px;
}
.pnf-btn {
  color: #000000;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  text-decoration: none;
  margin-top: 30px;
  padding: 10px;
}

.pnf-btn:hover {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
}

/* // product.js */
.product-link {
  text-decoration: none;
  color: #000000;
}
